<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE1</title>
</head>
<body>
    PUTO EL QUE LEE

    <p>Mi nombre es {{nombre}} {{apellido}}</p>

    <h1>Este template fue creado el día {{hoy}}</h1>

    <h2>Estas son las notas de mi universidad:</h2>
    <p>
    {% for n in notas %}
            {{n}}
            <br>
    {%endfor%}
    </p>
</body>
</html>